{% extends "bootstrap_5_layout.html" %}
{% set active_page = "weather_dashboard" %}

{% block content %}

    <h1>Weather Dashboard</h1>
    <h2>Weather Forecast for Zip Code: {{ zip_code }}</h2>

    <div class="weather-periods">
        {% for period in periods %}
            <div class="weather-period">
                <p>{{ period.name }} - {{ period.startTime[0:10] }}</p>
                <p>{{ period.shortForecast }}</p>
                <p>{{ period.temperature }}{{ DEGREE_SIGN }}{{ period.temperatureUnit }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
